* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.container {
    width: 520px;
    max-width: 90%;
    min-height: 700px;
    /* border: 1px solid red; */
    /* padding: 20px; */
    margin: 50px auto;
    /* background-color: gray; */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}


body {
    background-color: rgb(216, 216, 216);
}


.appHeading img {
    width: 35px;
    height: 35px;

}

.appHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 12px 0px 12px;
    /* border: 1px solid red; */
    padding: 8px;
    border-radius: 5px;
    background-color: teal;
    color: white;
}

.todo_image_and_text {
    display: flex;
    align-items: center;
}


.todo_image_and_text h2 {
    margin-left: 10px;
}


.darkMode {
    position: absolute;
    right: 8px;
    border-radius: 50%;
    cursor: pointer;
}








/*
=================================  Progress Section =======================================
*/

.ProgressCircle {
    width: 100px;
    height: 100px;
    /* border: 1px solid green; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tan;
}



.progressSection {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;

    border-radius: 5px;
    margin-bottom: 12px;

    background: teal;
    color: white;
}


.progressDone_and_progressline h2 {
    margin-bottom: 15px;
}

.progressDone_and_progressline p {
    font-size: 18px;
    margin-bottom: 7px;
}


.progressLine {
    width: 95%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}


.progressDone_and_progressline {
    flex: 1;
}

.ProgressCircle p {
    font-size: 20px;
    font-weight: bold;
}

.ovedue_task {
    /*margin-top: 10px;*/
}

/*
================================ Task views section ====================================
*/

.task_views {
    /* padding: 8px; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    display: flex;
    margin-bottom: 12px;
    /* font-size: 15px; */
    gap: 10px;
}


.task_views button {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    flex: 1;
}


.task_views button:hover {
    background-color: #004D40;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.task_views button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: teal;
    color: white;
}

.task_views img {
    width: 25px;
    height: 25px;
}


/*
=============== search_task  and add_task =========================================
*/


.search_task_and_add_task {
    display: flex;
    border-radius: 5px;
    /* outline: 0; */
    /* overflow: hidden;*/
    margin-bottom: 12px;
    border: 1px solid teal;
}

.search_task_and_add_task .search_task {
    flex: 1;
}


.search_task_and_clear_search {
    flex: 1;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.search_task_and_clear_search .clear_search {
    position: absolute;
    right: 10px;
    font-size: 1.4em;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #636161;

}



.search_task_and_add_task .add_task {
    font-size: 15px;
    background-color: teal;
    color: white;


}

.search_task_and_add_task .search_task,
.search_task_and_add_task .add_task {
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s ease-in-out;
    border: 0;
    color: #333333
}

.search_task_and_add_task .add_task {
    background-color: teal;
    color: #ffffff;
}

.search_task_and_add_task .add_task:hover {
    background-color: #004D40;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.search_task_and_add_task .search_task {}



/*
================================ Add task form ===============================
*/


.add_task_form {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid teal;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px #b4b5b5;

}

.add_task_form h2 {
    margin-bottom: 25px;
    text-align: center;
    color: #004D40;
    font-weight: bold;
    margin-top: 10px;
}






.add_task_form div {
    margin-bottom: 20px;

}

.add_task_form div p {
    font-weight: bold;
    /* font-weight: 600; */
    margin-bottom: 5px;
    color: #004D40;
    font-size: 20px;

}


.add_task_form input,
.add_task_form textarea,
.add_task_form button {
    border: 1.5px solid #669eb5;
    background-color: #fbfdfd;
    color: #333333;
    border-radius: 5px;
    outline: 0;
    font-size: 15px;
    padding: 8px 20px;
    /* flex: 1; */
    width: 100%;

}


.add_task_form textarea {
    min-height: 50px;
}


.due_date_and_priority_and_category_and_status {
    display: flex;
    gap: 10px;

}

.due_date_and_priority_and_category_and_status button {
    flex: 1;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    /*gap: 10px;*/


}

.add_task_form button:hover {
    background-color: #004D40;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;
}

/*
============================= cancel_and_add_task ======================================
*/

.cancel_button_and_add_task_button {

    display: flex;
    gap: 10px;
    margin-top: 60px;

}

.cancel_button_and_add_task_button .cancel {

    flex: 1;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    /*gap: 10px;*/

}

.cancel_button_and_add_task_button .add_task {

    flex: 1;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    /*gap: 10px;*/


}






/* =======================================Add Filter =================================*/


.filter_section {
    border: 1px solid teal;
    padding: 10px;
    border-radius: 5px;
}

.filter_section .filter_top_line {
    margin-top: 10px;
}


.filter_section .filter_top_line h2 {
    color: #004D40;
    font-size: 20px;
}

.filter_section .filter_top_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

}

.filter_section button {
    cursor: pointer;
    padding: 5px 12px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;

    background-color: teal;
    color: white;
}



.filter_section button:hover {
    background-color: #004D40;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;
}


/*============================= Filter =================================*/



.all_filters {
    display: flex;
    gap: 10px;
}


.all_filters>div {
    flex: 1;
    position: relative;

}


.all_filters ul {
    list-style-type: none;

}

.all_filters button {
    width: 100%;
    padding: 8px;
    /* font-size: 15px; */
    /* border: 1px solid #ddd; */
    /* border-radius: 5px;*/
    /*  font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;

    background-color: teal;
    color: white; */

}

.all_filters:hover {
    /* background-color: #004D40; */
}


.all_filters ul {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    /* margin: 0; */
    /* padding: 0; */
    display: none;
}


.all_filters>div:hover ul {
    display: block;
     background-color: teal;

}

.all_filters li {
    padding: 8px;
      
    color: white;
    cursor: pointer;
}

.all_filters li:hover {
     background-color: rgb(70, 214, 240);
     transition: all 0.2s ease-in-out;
}



















/*================ task show =========================*/
.task_show {
    /*border: 1px solid #ddd; */
    /* padding: 10px; */
    border-radius: 5px;
    font-size: 17px;
    margin-top: 35px;
}

.task_show h2 {
    color: #004D40;
    margin-bottom: 15px;
    font-size: 20px;
}

.task_show .tasks_details {
    display: flex;
    align-items: center;
    border: 1px solid teal;
    padding: 5px 0px 5px 10px;
    border-radius: 5px;

}


.task_show .tasks_details input[type='checkbox'] {
    margin-right: 5px;
}


.task_show .tasks_details .task {
    flex: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px
}


.task_show .tasks_details .task img {
    height: 16px;
    width: 16px;
}

.task_show .tasks_details .date {
    width: 110px;
}


.task_show .tasks_details .priority,
.task_show .tasks_details .category {
    width: 50px;
}





.task_show .tasks_details button {
    border: 0;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background: transparent;
    cursor: pointer;
}



.task_show .tasks_details .deleteImage {

    /*  display: flex;
    align-items: center;*/
}

.task_show .tasks_details img {
    width: 25px;
    height: 25px;
}